<template id="mark-title-template">
  <style>
    .mark-title-container {
      width: 100%;
      overflow: auto;
    }
    .mark-title-container {
      float: left;
      max-width: 80%;
    }
    .mark-title-info {
      float: right;
      max-width: 20%;
    }
    .mark-title-container td {
      border-collapse: collapse;
      border: 1px solid rgb(154, 112, 112);
    }
  </style>
  <tr class="mark-title-container">
    <td class="mark-title-container">
      <div class="mark-title-container">
        <a class="mark-title-content"></a>
        <label class="mark-title-info"></label>
      </div>
    </td>
  </tr>
</template>
